.navbar {
  transition: all $transition-time1;

  ul {
    list-style: none;
  }

  &__top-list {
    float: left;

    li {
      position: relative;
      float: left;
    }

    a {
      font-size: 20px;
      padding: 20px;
      display: block;

      &:hover {
        background: #333;
        color: #fff;
      }
    }
  }

  &__top-item {
    &:hover > .navbar__bottom-list {
      display: initial;
    }
  }
  .dropdown::after {
    content: "";
    top: -20px;
    left: 10px;
    position: relative;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #000;
    transform: scaleX(-1);

    &:hover {
      border-bottom: 6px solid #fff;
    }
  }

  &__bottom-list {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
  }

  &__bottom-item {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
